{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Task Manager</title>
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
  </head>
  
  {% include "navbar.html" %}

  <body class="d-flex flex-column min-vh-100">
    <div class="container">
      {% if messages %}
        {% bootstrap_messages %}
      {% endif %}
          
      {% block content %}

      {% endblock %}
    
    </div>
    <p> </p>
  </body>
</html>