{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

{% if form.errors %}
  <div class="alert alert-warning" role="alert">
    {% trans 'Your username or password did not match. Please try again.' %}
  </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
      {% trans 'Your account doesn't have access to this page. To proceed,
      please login with an account that has access.' %}
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
      {% trans 'Please login to see this page.' %}
    </div>
    {% endif %}
{% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="{% translate 'Log in' %}">
    </form>
    
    <div class="text-center">
      <p>{% trans 'Not a member?' %} <a href="{% url 'users_create' %}">{% trans 'Register' %}</a></p>
    </div>

{% endblock %}