<form action="{% url 'users_create' %}" method="post">
    {% csrf_token %}
        <div class="mb-3">
          <label for="InputUsername" class="form-label">Username</label>
          <input type="username" class="form-control" id="username" aria-describedby="usernameHelp">
          <div id="usernameHelp" class="form-text">Max 150 symbols.</div>
        </div>
        <div class="mb-3">
          <label for="InputFirstName" class="form-label">First Name</label>
          <input type="name" class="form-control" id="first_name" aria-describedby="firstnameHelp">
          <div id="firstnameHelp" class="form-text">Enter your first name.</div>
        </div>
        <div class="mb-3">
          <label for="InputLastName" class="form-label">Last Name</label>
          <input type="name" class="form-control" id="last_name" aria-describedby="lastnameHelp">
          <div id="lastnameHelp" class="form-text">Enter your last name.</div>
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="password1">
        </div>
        <div class="mb-3">
          <label for="InputPassword2" class="form-label">Repeat password</label>
          <input type="password" class="form-control" id="password2">
        </div>
        <input class="btn btn-primary" type="submit" value="{% translate 'Register' %}">  
</form>


<!-- Username input -->
<div data-mdb-input-init class="form-outline mb-4">
    <input type="username" id="username" class="form-control" />
    <label class="form-label" for="username">Username</label>
  </div>

  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="password" id="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>

  {% if messages %}
        {% bootstrap_messages %}
      {% endif %}